body {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 34, 121, 0.938813025210084) 19%, rgba(0, 212, 255, 1) 100%);
    background-size: cover;
    background-position: center;
    scroll-behavior: smooth;
}

.navbar-brand {
    padding: 10px;
}

.navbar-brand:hover {
    border-radius: 10px;
    padding: 10px;
    background-color: gold;
}

.navbar li {
    border-radius: 10px;
    padding: 5px;
}

.navbar li:hover {
    color: white;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(213, 240, 255);
}

.page {
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 3px 3px 3px #ffffff;
    padding: 15px;
    float: none;
}

.page hr {
    color: rgb(255, 166, 0);
    box-shadow: 2px 2px 2px gold;
}

input[type=text] {
    border: 2px solid rgb(219, 219, 219);
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    width: 60%;
    border-radius: 30px;
}

#create_btn {
    border-radius: 30px;
    width: 30%;
}

.create {
    width: 35%;
    border: 2px solid grey;
    border-radius: 30px;
}

.create:hover {
    color: white;
    width: 35%;
    border-radius: 30px;
    background-color: rgb(0, 81, 255);
}

.features {
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 3px 3px 3px #ffffff;
    padding: 15px;
    float: none;
}

#gop1 {
    display: none;
}


/* .note {
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 3px 3px 3px whitesmoke;
    padding: 15px;
    float: none;
}
*/

.random_img {
    width: 90%;
    height: 300px;
    border-radius: 20px;
}


/* #phone {
    margin-top: -20px;
}

.logout {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgb(219, 219, 219);
}

.logout:hover {
    background-color: rgb(219, 219, 219);
} */